<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bookmarks</title>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>

<div class="js-tag-view"></div>

<div class="js-bookmark-view"></div>

<script type="text/template" id="tag-template">
<div>
<ul>Tag</ul>
</div>
</script>

<script type="text/template" id="bookmark-template">
<div>
<ul></ul>
</div>
</script>

<script type="text/template" id="bookmark-item-template">
<%= title %>
<%= url %>
<%= description %>
<%= tags %>
</script>

<script type="text/template" id="tag-item-template">
<%= tags %>
</script>



<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<script src="main.js"></script>

</body>
</html>
